.list {
  h1 {
    text-align: center;
    font-size: -webkit-xxx-large;
    font-family: monospace;
  }
  .characters {
    // display: flex;
    // flex-wrap: wrap;
    // overflow: auto;
    height: 500px;

    flex: 1;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
  }
}
